.ActiveListContainer {
  position: absolute;
  left: 40%;
  top: 17%;
  width: 600px;
  background-color: white;
  padding-inline: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 450px;
  border-radius: 10px;
}
.ActiveList {
  background-color: wheat;
  max-height: 400px;
  overflow-y: scroll;
  height: 350px;
  width: 550px;
  padding: 30px;
}

.ActiveListContainer h2 {
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid silver;
}

.ActiveList ul {
  list-style-type: none;
  padding: 0;
}

.ActiveList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ActiveList li:last-child {
  border-bottom: none;
}

.ActiveList li div {
  margin-bottom: 5px;
}

.ActiveList li button {
  margin-top: 10px;
  padding: 5px;
  background-color: #ff6200;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.ActiveList li button:hover {
  background-color: #0069d9;
}
