.ActiveBidersListContainer {
  position: absolute;
  left: 68%;
  top: 17%;
  width: 400px;
  background-color: white;
  padding-inline: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 500px;
  border-radius: 10px;
}
.ActiveBidersList {
  background-color: wheat;

  overflow-y: scroll;
  height: 450px;
  width: 380px;
  padding: 10px;
  border-radius: 10px;
}

.ActiveBidersListContainer h2 {
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid silver;
}

.ActiveBidersList ul {
  list-style-type: none;
  padding: 0;
}

.ActiveBidersList li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ActiveBidersList li:last-child {
  border-bottom: none;
}

.ActiveBidersList li div {
  margin-bottom: 5px;
}

.ActiveBidersList li button {
  margin-top: 10px;
  padding: 5px;
  background-color: #ff6200;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.ActiveBidersList li button:hover {
  background-color: #0069d9;
}
