.txt_field_input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid silver;
  margin-top: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  display: inline;
  margin-right: 20px;
}
.txt_field_input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  margin-bottom: 30px;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
  margin-top: 20px;
}
.txt_field input:focus,
.txt_field input:valid {
  border: 1px solid #2691d9;
  transition: 0.1s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -12px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
