.registration_form {
  opacity: 0.85;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  justify-items: space-between;
}

.registration_form h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}
.registration_form form {
  opacity: 0.9;
  border-width: 1;
  padding-left: 40px;
  box-sizing: border-box;
}

.registration_form label {
  width: 30%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
}

.registration_form select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 30%;
  font-size: 16px;
  border: 1px solid silver;
}
.registration_form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;

  width: 30%;
  align-items: center;
  font-size: 16px;
  border: 1px solid silver;
  display: inline-block;
  margin-left: 5px;
}

.registration_form input[type="text"],
.registration_form input[type="password"],
.registration_form input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 30%;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid silver;
  margin-left: 5px;
}
.registration_form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.registration_form button[type="submit"],
.registration_form button[type="button"] {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 20px;
}

.registration_form button[type="submit"]:hover,
.registration_form button[type="button"]:hover {
  background-color: #0056b3;
}

.registration_form h1 {
  text-align: center;
  margin-bottom: 20px;
}
